:root {
  --progress-upload-width: 0;
}

:root {
  --progress-download-width: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #e1e1e1;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-wrapper {
  width: 100%;
  min-width: 960px;
  /*height: 100%;*/
  margin: 0 auto;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
}

.items-wrapper {
  max-width: 250px;
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: scroll;
  background-color: #eeeeee;
  overflow-x: hidden;
}

.items-list-header {
  margin: 0;
  padding: 5px 0 10px 0;
  text-align: center;
  color: #1b5389;
  background-color: #e1e1e1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

ul li {
  padding: 5px 10px;
  color: #1b5389;
  vertical-align: middle;
}

ul li:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.form-wrapper {
  width: 360px;
}

#uploadForm {
  width: 100%;
  padding: 20px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

#downloadForm {
  width: 100%;
  padding: 20px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.file-upload {
  display: none;
}

.progress-wrapper{
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;*/
  margin-bottom: 10px;
}

.progress-notificatione {
  display: none;
  font-size: 0.7em;
  color: #394c5e;
}

.progress-notificatione-upload {
  display: none;
  font-size: 0.7em;
}

.progress-notificatione-download {
  display: none;
  font-size: 0.7em;
}

.progress {
  width: 100%;
  height: 5px;
  background-color: #f9f9f9;
  display: none;
}

.progress-upload {
  background: linear-gradient(to right, #2e8426 calc(var(--progress-upload-width)*1%), #f9f9f9 0%);

}

.progress-download {
  background: linear-gradient(to right, #2e8426 calc(var(--progress-download-width)*1%), #f9f9f9 0%);
}

.form-button {
  min-width: 28%;
  height: 30px;
  padding: 5px 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #242f3f;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}
.form-button:hover {
  background-color: #394c5e
}

.form-button:active {
  background-color: #394c5e;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.form-button:disabled {
  background-color: #7f8392;
  /*box-shadow: 0 2px #666;*/
  /*transform: translateY(4px);*/
}

.upload-file-name {
  min-width: 35%;
  max-height: 30px;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.form-title {
  margin: 0;
  color: #f4f4f4;
  text-align: center;
}

.text-input-download-form {
  min-width: 70%;
  height: 30px;
  font-size: 1.1em;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  /*width: 70%;*/
  /*border-radius: 5px;*/
  /*text-decoration: none;*/
  /*outline: none;*/
  /*color: #fff;*/
  /*background-color: transparent;*/
  /*border: none;*/
  /*border-bottom: 1px solid white;*/
  box-shadow: 0 0 0 30px #e1e1e1 inset !important;
}

.text-input-download-form:focus {
  color: red;
}

.select-form-button {
  min-width: 70%;
  height: 30px;
  font-size: 1.1em;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  /*overflow: hidden;*/

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-form-button:hover {
  font-weight: bold;
}
